@using JD.CRS.Web.Models.Common.Modals
@model JD.CRS.Web.Models.Course.EditCourseModalViewModel
@{
    Layout = null;
}
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditCourse")))
<div class="modal-body">
    <form name="CourseEditForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" value="@Model.Course.Id" />
        <div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-line">
                        <label class="form-label">@L("Code")</label>
                        <input type="text" name="Code" value="@Model.Course.Code" class="form-control" required maxlength="50" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-line">
                        <label class="form-label">@L("DepartmentCode")</label>
                        <input type="text" name="DepartmentCode" value="@Model.Course.DepartmentCode" class="form-control" required maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-line">
                        <label class="form-label">@L("Name")</label>
                        <input type="text" name="Name" value="@Model.Course.Name" class="form-control" required maxlength="150" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-line">
                        <label class="form-label">@L("Credits")</label>
                        <input type="text" name="Credits" value="@Model.Course.Credits" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-line">
                        <label class="form-label">@L("Remarks")</label>
                        <input name="Remarks" type="text" value="@Model.Course.Remarks" class="form-control" required maxlength="200" />
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-line">
                        <label class="form-label">@L("Status")</label>
                        <input name="Status" type="text" value="@Model.Course.Status" class="form-control" />
                    </div>
                </div>
            </div>
</form>
</div>
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/Course/_EditCourseModal.js" asp-append-version="true"></script>