@using JD.CRS.Web.Models.Common.Modals
@model JD.CRS.Web.Models.InstructorCourse.Edit
@{
    Layout = null;
}
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Edit")))

<div class="modal-body">
    <form name="EditForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" value="@Model.InstructorCourse.Id" />
        <div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-line">
                        <label class="form-label">@L("InstructorCode")</label>
                        @Html.DropDownListFor(
                        model => model.InstructorCode,
                        Model.GetInstructorList(LocalizationManager),
                        new
                        {
                            @class = "form-control",
                            id = "InstructorCode"
                        })
                        @*<input type="text" name="InstructorCode" value="@Model.InstructorCourse.InstructorCode" class="form-control" required maxlength="50" />*@
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-line">
                        <label class="form-label">@L("CourseCode")</label>
                        @Html.DropDownListFor(
                        model => model.CourseCode,
                        Model.GetCourseList(LocalizationManager),
                        new
                        {
                            @class = "form-control",
                            id = "CourseCode"
                        })
                        @*<input type="text" name="CourseCode" value="@Model.InstructorCourse.CourseCode" class="form-control" required maxlength="50" />*@
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-line">
                        <label class="form-label">@L("Remarks")</label>
                        <input name="Remarks" type="text" value="@Model.InstructorCourse.Remarks" class="form-control" required maxlength="200" />
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-line">
                        <label class="form-label">@L("Status")</label>
                        @Html.DropDownListFor(
                        model => model.Status,
                        Model.GetStatusList(LocalizationManager),
                        new
                        {
                            @class = "form-control",
                            id = "Status"
                        })
                        @*<input name="Status" type="text" value="@Model.InstructorCourse.Status" class="form-control" />*@
                    </div>
                </div>
            </div>
</form>
</div>
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/InstructorCourse/Edit.js" asp-append-version="true"></script>